@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@500&family=Aleo:wght@300&display=swap');

body{
    background-image: linear-gradient( #454545, #030304, #020024);
    background-attachment: fixed;
    
}

.heading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgba(236, 228, 228, 0.842);
    font-size: 2rem;
    align-items: center;
    padding: 2% 0;
    font-family: 'Alegreya', serif;
}

.container{
    padding: 1rem 2%;
}

.rows{
    display: flex;
    flex-direction: column;
}

.texts{
    color: rgb(228, 228, 228);
    font-family: 'Aleo', serif;
}

.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

.cards{
    /* background-image: linear-gradient( 147deg,#b5b5b5, #5656d7,#01182f); */
    color: rgb(247, 238, 238);
    width: 47%;
    height: 4.5rem;
    border-radius: 5%;
    position: relative;
}

.cards-textss{
    position: absolute;
    top: 5%;
    left: 5%;
}

.card1{
    background-color: #5656d7;
}
.card2{
    background-color: #a70202;
}
.card3{
    background-color: #18790f;
}
.card4{
    background-color: #928615;
}
.card5{
    background-color: #7a1a47;
}
.card6{
    background-color: #105774;
}
